{% extends 'base.html' %}
{% load static %}

{% block side %}
<div class="col-sm-2">
    <h3 class="text-white my-5">User Profile</h3>
     <h4 class="text-center text-white">{{full_name}}</h4>
     {% for group in groups %}
     <p class="text-center text-white">{{group.name}}</p>
  {% endfor %}
 </div>

{% endblock side %}

{% block content %}



 <div class="col-sm-10">
    
    <!-- MESSAGES -->
    {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}

    <h4 class="text-center alert alert-info mt-3">All Posts</h4>
    <a href="{% url 'addpost' %}" class="btn btn-success">Add Post</a>
    {% if posts %}
    <table class="hover bg-light mt-4 mb-20">
       <thead style="border-bottom: 1px solid black;">
        <tr class="text-center ">
            <th scope="col" style="width: 2%; padding: 10px 8px ;">Id</th>
            <th scope="col" style="width: 28%; padding: 10px 8px ;">Name</th>
            <th scope="col" style="width: 55%; padding: 10px 8px ;">Post</th>
            <th scope="col" style="width: 15%; padding: 10px 8px ;">Action</th>
        </tr>
       </thead>
       <tbody>
        {% for  post in posts %}
        <tr scope="row" style="border-bottom: 2px solid black;">
            <th style="padding: 10px 8px ;">{{post.id}}</th>
            <td style="padding: 10px 8px ;">{{post.title}}</td>
            <td style="padding: 10px 8px ;">{{post.desc}}</td>
            <td class="row">
                <div class="col-6" style="padding: 10px 8px ;">
                    <a href="{% url 'editpost' post.id %}" class="btn btn-warning btn-sm">Edit</a>
                </div>
                {% if perms.blog.delete_post %}
            <div class="col-6" style="padding: 10px 8px ;">
                <form action="{% url 'deletepost' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger btn-sm" value="delete" >
                </form>
            </div>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
       </tbody>

    </table>
    {% endif %}




{% endblock content%}